body { color:#000000; }
td { }
h1 { font-family:Verdana; color:#000066; }
h2 { font-family:Verdana; color:#000066; }
h3 { font-family:Verdana; }
h4 { font-family:Verdana; }
h5 { font-family:Verdana; }
h6 { font-family:Verdana; font-size="9pt";}
.sidebar { background:#eeeeee; }
.heading { color:black; background:#000000; font-family:Verdana; font-size:8pt; }
.toolbar { background:#bbbbcc; font-family:Verdana; }
a:active { font-weight:bold; }
a.button { color:black; font-weight:bold; font-size:8pt; }
a.hbutton { color:black; font-weight:bold; }
.label { color:000066; font-weight:bold; font-family:Verdana;}
input.control { color:#000000; background:#ffffff; font-family: Verdana; font-size:10pt; }
input.button { font-family:Verdana; font-size:8pt; }	
.hitrange { color:black; font-family:Verdana; font-size:8pt; }
.HITLIST-HEADERROW { font-family:Verdana; }
.HITLIST-ODDROW { font-family:Verdana; font-size:8pt; }
.HITLIST-EVENROW { font-family:Verdana; font-size:8pt; }
.CONTENTS-SELECT { color:white; background:blue font-weight:bold; font-family:Verdana; font-size:8pt; }
.CONTENTS-PARENT-LABEL { font-family:Verdana; font-size:8pt; }
.CONTENTS-PARENT-ANCHOR	{ color:blue font-family:Verdana; font-size:8pt; }
.CONTENTS-CHILD-LABEL { font-family:Verdana; font-size:8pt; }
.CONTENTS-CHILD-ANCHOR { color:blue font-family:Verdana; font-size:8pt; }
.title1
{
	font-family:Verdana;
	color:navy;
	font-size:20pt;
	font-weight:bold;
}
.title2
{
	font-family:Verdana;
	color:navy;
	font-size:20pt;
	font-weight:bold;
}
.date
{
	font-family:verdana;
	font-size:10pt;
}
